@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-heading: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  color: var(--white);
  background-color: var(--very-dark-blue);
  height: 100%;
  margin-top: 10%;
}

body > main {
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > main > .left {
  background-color: var(--dark-desaturated-blue);
  height: 300px;
  width: 440px;
  padding: 50px;
  padding-left: 5em;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

body > main > .left > header {
  font-size: 2.3em;
  font-weight: bold;
  color: var(--white);
  font-family: "Lexend Deca", sans-serif;
}

body > main > .left > p {
  max-width: 350px;
  color: var(--slightly-transparent-paragraph);
  font-family: "Inter", sans-serif;
  line-height: 1.7em;
}

body > main > .left > .bottom {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3em;
  font-family: "Inter", sans-serif;
}

body > main > .left > .bottom > article > header {
  color: var(--white);
  font-weight: bold;
  font-size: 1.3em;
}

body > main > .left > .bottom > article > p {
  color: var(--slightly-transparent-heading);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

body .right {
  background-image: url(images/image-header-desktop.jpg);
  width: 550px;
  height: 400px;
  background-color: rgba(170, 92, 219, 0.842);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 40%;
}

body > footer > .attribution {
  font-size: 11px;
  text-align: center;
}

body > footer > .attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 375px) {
  body {
    margin: 15px auto;
  }
  body > main {
    max-height: auto;
    max-width: 425px;
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body > main > .left {
    height: 100%;
    max-width: 280px;
    padding: 35px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 0 10px 10px;
  }
  body > main > .left > .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body > main > .right {
    background-image: url(images/image-header-mobile.jpg);
    max-height: 250px;
    max-width: 350px;
    border-radius: 10px 10px 0 0;
    margin: auto;
    margin-top: 15px;
  }
  body footer {
    position: relative;
    bottom: 0;
    left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */