@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%); //main background
  --dark-desaturated-blue: hsl(244, 38%, 16%); // card background
  --soft-violet: hsl(277, 64%, 61%); // accent
  --white: hsl(0, 0%, 100%); // main heading, stats
  --slightly-transparent-paragraph: hsla(0, 0%, 100%, 0.75); // main p
  --slightly-transparent-heading: hsla(0, 0%, 100%, 0.6); // stat heading
}

body {
  font-size: 15px;
  color: var(--white);
  background-color: var(--very-dark-blue);
  height: 100%;
  margin-top: 10%;
  > main {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    > .left {
      background-color: var(--dark-desaturated-blue);
      height: 300px;
      width: 440px;
      padding: 50px;
      padding-left: 5em;
      border-bottom-left-radius: 0.5em;
      border-top-left-radius: 0.5em;
      > header {
        font-size: 2.3em;
        font-weight: bold;
        color: var(--white);
        font-family: "Lexend Deca", sans-serif;
      }
      > p {
        max-width: 350px;
        color: var(--slightly-transparent-paragraph);
        font-family: "Inter", sans-serif;
        line-height: 1.7em;
      }
      > .bottom {
        margin-top: 4em;
        display: flex;
        gap: 2.3em;
        font-family: "Inter", sans-serif;
        > article {
          > header {
            color: var(--white);
            font-weight: bold;
            font-size: 1.3em;
          }
          > p {
            color: var(--slightly-transparent-heading);
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 0.2em;
          }
        }
      }
    }
  }
  .right {
    background-image: url(images/image-header-desktop.jpg);
    width: 550px;
    height: 400px;
    background-color: hsla(277, 64%, 61%, 0.842);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
  > footer {
    position: absolute;
    bottom: 0;
    left: 40%;
    > .attribution {
      font-size: 11px;
      text-align: center;
    }
    > .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
@media only screen and (max-width: 375px) {
  body {
    margin: 15px auto;
    > main {
      max-height: auto;
      max-width: 425px;
      margin: 15px auto;
      display: flex;
      flex-shrink: 1;
      flex-direction: column-reverse;
      > .left {
        height: 100%;
        max-width: 280px;
        padding: 35px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 10px 10px;
        > .bottom {
          display: flex;
          flex-direction: column;
        }
      }
      > .right {
        background-image: url(images/image-header-mobile.jpg);
        max-height: 250px;
        max-width: 350px;
        border-radius: 10px 10px 0 0;
        margin: auto;
        margin-top: 15px;
      }
    }
    footer {
      position: relative;
      bottom: 0;
      left: 5%;
    }
  }
}
